@model List<Acedrive.Domain.Models.Location>

 <table class = "table table-bordered text-center" >
    <thead class = "thead-dark">
      <tr>
        <th>Location Id</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
      </tr>
    </thead>
    
    <tbody>
      @foreach (var item in Model) {
        <tr>
          <td>@item.LocationId</td>
          <td>@item.LocationAddress</td>
          <td>@item.LocationCity</td>
          <td>@item.LocationState</td>
          <td>@item.LocationZipcode</td>
          <td>
            <form asp-controller="Admin" asp-action="UpdateLocation" method="get">
              <button type="submit" name="lid" value="@item.LocationId">Update</button>
            </form>
          </td>
          <td>
            <form asp-controller="Admin" asp-action="DeleteLocation" method="get">
              <button type="submit" name="lid" value="@item.LocationId">Delete</button>
            </form>
          </td>
        </tr>
      }
    </tbody>
  </table>
