@model List<Acedrive.Domain.Models.Location>

 <table class = "table table-bordered text-center" >
    <thead class = "thead-dark">
      <tr>
        <th>Location ID</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    
    <tbody>
      @foreach (var item in Model) {
        <tr>
          <td>@item.LocationId</td>
          <td>@item.LocationAddress</td>
          <td>@item.LocationCity</td>
          <td>@item.LocationState</td>
          <td>@item.LocationZipcode</td>
          <td>
            <form asp-controller="Admin" asp-action="UpdateLocation" method="get">
              <button type="submit" name="lid" value="@item.LocationId">Update</button>
            </form>
          </td>
          <td>
            <form asp-controller="Admin" asp-action="DeleteLocation" method="get">
              <button type="submit" name="lid" value="@item.LocationId">Delete</button>
            </form>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <br>

  <table class = "table table-bordered text-center">
    <tbody>
      <tr colspan="4">
        <th class="table-dark">Back to Admin Portal</th>
        <td>
          <form asp-controller="Admin" asp-action="AdminPortal" method="get">
            <button type="submit">Click Here</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
