@{
    ViewData["Title"] = "Select Location";
}

@model List<Acedrive.Domain.Models.Location>

<form asp-controller="Location" asp-action="LocationSelection" method="post">
  @Html.AntiForgeryToken()

  <h5>Please Choose From Any of Our Available Locations.</h5><br />

  <table class = "table table-bordered text-center" >
    <thead class = "thead-dark">
      <tr>
        <th>Choose Only One</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip Code</th>
      </tr>
    </thead>
    
    <tbody>
      @foreach (var item in Model) {
        <tr>
          <td>
            <input type="radio" name="lid" value="@item.LocationId" required/>
          </td>
          <td>@item.LocationAddress</td>
          <td>@item.LocationCity</td>
          <td>@item.LocationState</td>
          <td>@item.LocationZipcode</td>
        </tr>
      }
    </tbody>
  </table>

  <br>
  <button type="submit">Continue to Next Step</button>
  
</form>